<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("partials/header") %>
    <title>Home</title>
</head>

<body class="bg-dark">
  <!-- <%- include ("partials/nav") %> -->
  <div class="container-fluid">
    <img class="w-100 img-fluid" src="./nav2.png" alt="">
  </div>
  <div class="px-5 rounded-3">
    <div class="container-fluid pt-5">
      <h1 class="display-5 fw-bold text-white">
        FuelGood 後端測試頁面
      </h1>
      <p class="col-md-8 d-flex fs-4">
        <a class="mr-3 d-block" href="https://fuel-good.herokuapp.com/api-docs">API測試 (Swagger)</a>
        <a class="mx-3 d-block" href="https://cloud.mongodb.com/v2/622d66f3adbb6631faa64a7d#clusters">資料庫 (MongoDB)</a>
        <a class="mx-3 d-block" href="https://www.heroku.com/home">主機 (Heroku)</a>
      </p>
    </div>
  </div>

</body>

</html>